@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0;
  margin: 0;
  background: var(--color);
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  font-family: Onset;
  transition: 1s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --color: #040812;
  --text: rgb(200, 220, 250);
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}
